:root {
  --color-texto: #433605;
  --color-nav: linear-gradient(to right, #ffb75e, #7e4d03);
  --color-hover: rgba(207, 142, 45, 0.576);
  --color-iniciarSesion: rgba(255, 128, 25, 0.416);
  --color-fondo: #000000;
}

body {
  background-color: var(--color-fondo);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.header {
  background-image: var(--color-nav);
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  padding: 1.5rem 0;
}

.anclaLogo {
  text-decoration: none;
  color: var(--color-texto);
  font-weight: 700;
  font-size: 1.6rem;
}

.anclaLogo:hover {
  animation-name: shake;
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.listaNav {
  list-style: none;
  display: flex;
  align-items: center;
}

.listaNav .listaItem {
  margin-right: 20px;
}

.listaItem .linkNav {
  text-decoration: none;
  color: var(--color-texto);
  font-weight: 700;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.listaItem .linkNav:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: var(--color-hover);
}

.listaItem .linkNav.iniciarSesion {
  background-color: var(--color-iniciarSesion);
  color: var(--color-texto);
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}


/* CAROUSEL
-------------------------------------------------- */
.container a{
    margin-top: 6px;
}

.bg-carousel-ba1 { background-image: url(./IMG/ba1-min.jpg); }
.bg-carousel-ba2 { background-image: url(./IMG/ba2-min.jpg); }
.bg-carousel-ba3 { background-image: url(/IMG/ba3-min.jpg); }

.carousel-item {
  background-size: cover;
  background-position: center center;
}
.carousel-item svg { opacity: .5; }

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 37rem;
  min-height: 95vh;
}



/* Media queries */

@media (max-width: 768px) {
    .anclaLogo {
      font-size: 1.1rem;
    }
  
    .listaItem .linkNav {
      font-size: 1rem;
    }
  }
  
@media (max-width: 576px) {
    .anclaLogo {
      font-size: 1rem;
    }
  
    .listaItem .linkNav {
      font-size: 0.7rem;
    }
  }
