p{
    font-family: "Poppins", sans-serif;
    margin-top: 1.5em;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que los elementos fluyan en múltiples líneas */
}

.producto {
    flex: 1 1 auto; /* Las tarjetas crecerán y se encogerán según sea necesario */
    max-width: calc(33.33% - 20px); /* Establece el ancho máximo de cada tarjeta */
    margin-bottom: 20px;
    text-align: center;
    margin-top: 1.5em;
}

.imagen {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.locales-d{
    margin-bottom: 10em;
}
.locales-d p {
    font-size: 1.2rem;
    line-height: 1.6; 
    margin-bottom: 20px;
  }
  .tituloyhs {
    text-align: center; /* Centrar el contenido del section */
  }
  
  .tituloyhs h2 {
    font-size: 2rem; /* Ajustar el tamaño del h2 */
  }
  
  .tituloyhs p {
    font-size: 1.2rem; /* Ajustar el tamaño del texto de los párrafos */
  }
  
  