:root {
  --color-texto: #000000;
  --color-nav: linear-gradient(to right, #f4e2ce, #c7a17a);
  --drop-down: #a98158;
  --color-hover: rgba(207, 142, 45, 0.576);
  --color-iniciarSesion: #9b7d5e;
  --color-fondo: #f4e2ce;

  --btons: #5b3c1f;
  --btonstext: #f4e2ce;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: url("../IMG/cursor.png"), auto;
  font-size: 80%;
}
body {
  background-color: var(--color-fondo);

  width: 100vw;
}
main {
  flex: 1;
  margin-bottom: 14rem;
}
.header {
  margin: 0;
  background-image: var(--color-nav);
  height: 10vh;

  z-index: 10;
}

/* ********************************** */
/*              banner               */
/* ********************************** */
.banner {
  font-family: "Caveat", cursive;
  display: block;
  margin-top: 15rem;
  margin-left: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.content-banner {
  max-width: 90rem;
  margin: 0 auto;
}
.content-banner p {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.content-banner h2 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}
/* ********************************** */
/*             Carrusel               */
/* ********************************** */

.container a {
  margin-top: 6px;
}
.carousel {
  font-size: 1.5rem;
}
.bg-carousel-ba1 {
  background-image: url(../IMG/ba1-min.jpg);
}
.bg-carousel-ba2 {
  background-image: url(../IMG/ba2-min.jpg);
}
.bg-carousel-ba3 {
  background-image: url(../IMG/ba3-min.jpg);
}
.carousel-item {
  background-size: cover;
  background-position: center center;
}
.carousel-item svg {
  opacity: 0.5;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 37rem;
  min-height: 95vh;
}


/* ********************************** */
/*              CARDS                 */
/* ********************************** */
#tendencias{
  height: 85vh;
}

.cards {
  background-image: url(../IMG/granos\ png.png);
  background-size: contain;
  height: 70vh;
  width: 100vw;
  background-color: #9b7c5e;
}
.trend {
  display: flex;
  justify-content: center;
}
.card {
  background-color: #f1f1f1e4;
  width: 20vw;
  display: flex;
  text-align: center;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.857);
}
.card img {
  height: 46vh;
}

.title {
  color:white;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 20px;
  text-shadow: 2px 2px 5px rgba(25, 25, 25, 0.949);
}

.botonTendencias{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btnn {
  display: inline-block;
 font-size: larger;
  
  border: 2px solid var(--btons);
  color: var(--btonstext);
  text-decoration: none;
  font-weight: bold;
  background: var(--btons);

  
  padding: 15px 40px;
  border-radius: 50px;
}
.btnn:hover {
  background: rgba(0, 0, 0, 0.194);

  color: #f4e2ce;
}

/* ********************************** */
/*          MediaQuerys               */
/* ********************************** */



@media (max-width: 768px) {
  
  .tetera {
    position: absolute;
    height: 65vh;
    width: 55vw;
    transform: translateY(-375px);
  }
  .cards {
    display: flex;
    flex-direction: column;

    color: #f1f1f1;
    height: 1%;

    padding: 5%;
  }

  .card {
    height: 100%;
    width: 60%;
    transform: translateX(90px);
  }
  .card:hover {
    transform: translateX(90px) scale(1.1);
  }
  .info {
    justify-content: center;
    height: 80vh;
    width: 80vw;
  }
}

@media (max-width: 576px) {
  .navegacion {
    margin-bottom: 50px;
  }
  .banner {
    margin-top: 120px;
    
    width: 80vw;
  }
  .content-banner h2{
    font-size: 3rem;
  }
  .content-banner p{
    font-size: 3rem;
  }
  .trend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-90px);
  }
  .card {
    width: 80vw;
  }

  .fa-circle-chevron-up {
    transform: translateX(-50px) translateY(-60px);
    right: 8vh;

    bottom: 17vh;
  }
  .tetera {
    margin-top:130px;
    width: 100vw;
  }
  footer{
    margin-top: 70vh;
  }

  
}



